include mixins/bs_carousel.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" text="text/css" href="/styles/home.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(type="text/javascript" src="/home.js")
        title Document
        <link rel="preload" as="image" href="/prod_images/prod3/front_small.jpg" imagesrcset="/prod_images/prod3/resp_xs.jpg 1x, /prod_images/prod3/resp_sm.jpg 1.5x, /prod_images/prod3/resp_md.jpg 2x, /prod_images/prod3/resp_lg.jpg 2.5x, /prod_images/prod3/resp_xl.jpg 3x">
        <link rel="preload" as="image" href="/prod_images/prod4/front_small.jpg" imagesrcset="/prod_images/prod4/resp_xs.jpg 1x, /prod_images/prod4/resp_sm.jpg 1.5x, /prod_images/prod4/resp_md.jpg 2x, /prod_images/prod4/resp_lg.jpg 2.5x, /prod_images/prod4/resp_xl.jpg 3x">
        <link rel="preload" as="image" href="/prod_images/prod5/front_small.jpg" imagesrcset="/prod_images/prod5/resp_xs.jpg 1x, /prod_images/prod5/resp_sm.jpg 1.5x, /prod_images/prod5/resp_md.jpg 2x, /prod_images/prod5/resp_lg.jpg 2.5x, /prod_images/prod5/resp_xl.jpg 3x">
        <link rel="preload" as="image" href="/prod_images/prod6/front_small.jpg" imagesrcset="/prod_images/prod6/resp_xs.jpg 1x, /prod_images/prod6/resp_sm.jpg 1.5x, /prod_images/prod6/resp_md.jpg 2x, /prod_images/prod6/resp_lg.jpg 2.5x, /prod_images/prod6/resp_xl.jpg 3x">
        <link rel="preload" as="image" href="/prod_images/prod7/front_small.jpg" imagesrcset="/prod_images/prod7/resp_xs.jpg 1x, /prod_images/prod7/resp_sm.jpg 1.5x, /prod_images/prod7/resp_md.jpg 2x, /prod_images/prod7/resp_lg.jpg 2.5x, /prod_images/prod7/resp_xl.jpg 3x">
        <link rel="preload" as="image" href="/prod_images/prod8/front_small.jpg" imagesrcset="">
    body
        header.header
            .header__search-top-bar
                .header__logo-card-icon
                    span.logo
                        a(href='/')
                            img(src='/images/logo.png' alt='logo')
                    .form_wrapper-lg
                        form(action='/search' method='GET')
                            .form__group.search_icon
                                input#search.search__input(type='text' name='search' placeholder='Какво търсиш днес?')
                                span.search_span
                                    i.fa-solid.fa-magnifying-glass
                    .icons
                        span.profile
                            a(href='/account')
                                i.fa-regular.fa-user.fa-xl
                        span.cart
                            a(href='/cart')
                                i.fa-solid.fa-cart-shopping.fa-xl
                .header__search-top-bar-form
                    .navigation
                        input#navi-toggle.navigation__checkbox(type='checkbox')
                        label.navigation__button(for='navi-toggle')
                            span.line
                        nav.navigation__nav
                            ul.navigation__list
                                li.navigation__item
                                    input#navi-item-1.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-1')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle Козметика
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/kozmetika/lice/') Грижа за кожата
                                            li.navigation__list__nested__list__item
                                                a(href='/kozmetika/kosa/') Грижа за косата
                                            li.navigation__list__nested__list__item
                                                a(href='/kozmetika/lichna/') Лична грижа
                                            li.navigation__list__nested__list__item
                                                a(href='/kozmetika/grim/') Грим
                                            li.navigation__list__nested__list__item
                                                a(href='/kozmetika/muzhe/') Мъжка козметика
                                li.navigation__item
                                    input#navi-item-2.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-2')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle Добавки
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/dobavki/') Минерали
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/protein/') Антиоксиданти
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/vitamini/') За Сън
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/dobavki/') Мозък и когнитивни
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/bilki/') Аминокиселини
                                            li.navigation__list__nested__list__item
                                                a(href='/zrave/kolagen') Колаген
                                li.navigation__item
                                    input#navi-item-3.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-3')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle Витамини
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/dobavki/') Витамин Д
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/protein/') Витамин Ц
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/vitamini/') Мултивитамини
                                            li.navigation__list__nested__list__item
                                                a(href='/zdrave/dobavki/') Витамин Е
                                li.navigation__item
                                    input#navi-item-4.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-4')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle Спорт
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/fitness/') Фитнес
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/tech/') Спортни Технологии
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/aksesoari/') Фитнес аксесоари
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/running/') Бягане
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/dumbells/') Гири и дъмбели
                                            li.navigation__list__nested__list__item
                                                a(href='/sport/yoga/') Йога
                                li.navigation__item
                                    input#navi-item-5.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-5')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle Спортно Облекло
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/fashion/womenclothes/') Дамски дрехи
                                            li.navigation__list__nested__list__item
                                                a(href='/fashion/womenshoes/') Дамски обувки
                                            li.navigation__list__nested__list__item
                                                a(href='/fashion/accessoires/') Дамски аксесоари
                                            li.navigation__list__nested__list__item
                                                a(href='/fashion/men/') Мъжки дрехи
                                li.navigation__item
                                    input#navi-item-6.navigation__checkbox__item(type='checkbox')
                                    label.navigation__item__dropdown(for='navi-item-6')
                                        span.navigation__item__dropdown__wrapper
                                            h4.navigation__item__dropdown__wrapper__tittle За Дома
                                            span.plus_icon
                                    .navigation__list__nested
                                        ul.navigation__list__nested__list
                                            li.navigation__list__nested__list__item
                                                a(href='/home/kuhnq/') Кухня
                                            li.navigation__list__nested__list__item
                                                a(href='/home/dekoracii/') Декорации за дома
                                            li.navigation__list__nested__list__item
                                                a(href='/home/aksesoari/') Аксесоари за дома
                                            li.navigation__list__nested__list__item
                                                a(href='/home/clean/') Почистване на дома
                                            li.navigation__list__nested__list__item
                                                a(href='/home/bathroom/') За Дома
                    .form_wrapper
                        form(action='/search' method='GET')
                            .form__group.search_icon
                                input#search.search__input(type='text' name='search' placeholder='Какво търсиш днес?')
                                span.search_span
                                    i.fa-solid.fa-magnifying-glass
            // Navigation desktop
            .navigation__desktop
                nav.navigation__desktop__nav
                    ul.navigation__desktop__list
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/kozmetika/') Козметика
                            ul.navigation__desktop__item__dropdown
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/lice/')
                                        | Грижа
                                        | за кожата
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/kosa/')
                                        | Грижа
                                        | за косата
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/lichna/') Лична грижа
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/grim/') Грим
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/muzhe/') Мъжка козметика
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/zdrave/') Добавки
                            ul.navigation__desktop__item__dropdown
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/dobavki/') Минерали
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/protein/') Антиоксиданти
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/vitamini/')
                                        | За
                                        | Сън
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/dobavki/')
                                        | Мозък
                                        | и когнитивни
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/bilki/') Аминокиселини
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/zdrave/bilki/') Колаген
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/sport/') Витамини
                            ul.navigation__desktop__item__dropdown.vitamini
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/fitness/') Витамин Д
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/tech/')
                                        | Витамин
                                        | Ц
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/aksesoari/') Мултивитамини
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/running/') Витамин Е
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/sport/') Спорт
                            ul.navigation__desktop__item__dropdown.sport
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/fitness/') Фитнес
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/tech/')
                                        | Спортни
                                        | Технологии
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/aksesoari/') Фитнес аксесоари
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/running/') Бягане
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/dumbells/')
                                        | Гири
                                        | и дъмбели
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/sport/yoga/') Йога
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/obleklo/')
                                | Спортно
                                | Облекло
                            ul.navigation__desktop__item__dropdown.sport_wear
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/fashion/womenclothes/') Дамски дрехи
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/fashion/womenshoes/') Дамски обувки
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/fashion/accessoires/') Дамски аксесоари
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/fashion/men/')
                                        | Мъжки
                                        | дрехи
                        li.navigation__desktop__item
                            a.navigation__desktop__link(href='/zadoma/') За Дома
                            ul.navigation__desktop__item__dropdown
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/home/kuhnq/') Кухня
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/home/dekoracii/') Декорации за дома
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/home/aksesoari/') Аксесоари за дома
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/home/clean/') Почистване на дома
                                li.navigation__desktop__item__dropdown__item
                                    a.navigation__desktop__item__dropdown__item__link(href='/home/bathroom/') За Дома
            .header__desktop
                .bck_image
                    .bck_image_1
                    .bck_image_2
                    .header__desktop__text-box.header__desktop__text-box-1
                        h1.heading-primary
                            span.heading-primary--main Органика.бг
                            span.heading-primary--sub Продукти за вашето здраве
                    .header__desktop__text-box.header__desktop__text-box-2
                        h1.heading-primary
                            span.heading-primary--main-2 Качествена
                            span.heading-primary--sub-2 козметика от природата
                    .header__desktop__text-box.header__desktop__text-box-3
                        h1.heading-primary
                            span.heading-primary--main-3 Витамини билкови
                            span.heading-primary--sub-3 и хранителни добавки
                    .header__desktop__text-box.header__desktop__text-box-4
                        h1.heading-primary
                            span.heading-primary--main-4 Спортни
                            span.heading-primary--sub-4 уреди и облекло
                    .header__desktop__text-box.header__desktop__text-box-5
                        h1.heading-primary
                            span.heading-primary--main-5 Продукти за
                            span.heading-primary--sub-5 комфорта на дома

        main
            .container__prod
                .container__prod__cosmetics
                    .container__prod__cosmetics__tittle
                        h3 Козметика
                    .container__prod__cosmetics__mobile.d-sm-none
                        .container__prod__cosmetics__mobile__wrapper
                            .container__prod__cosmetics__mobile__wrapper__inner
                                each product, index in products
                                    .container__prod__cosmetics__mobile__wrapper__inner__item.active
                                        .container__prod__cosmetics__mobile__wrapper__inner__item__wrapper
                                            .container__prod__cosmetics__mobile__wrapper__inner__item__wrapper__image
                                                .container__prod__cosmetics__mobile__wrapper__inner__item__wrapper__image__wrapper
                                                    a(href="/produkt/12312")
                                                        if index < 2
                                                            img(src=product.imageFront srcset=product.imagesResp class="imgClass")
                                                        else
                                                            img(data-src=product.imageFront data-srcset=product.imagesResp class="imgClass")
                                            .container__prod__cosmetics__mobile__wrapper__inner__item__wrapper__second
                                                .container__prod__cosmetics__mobile__wrapper__inner__item__wrapper__second__tittle
                                                    h3
                                                        a(href="/produkt/123122" class="container__prod__cosmetics__mobile__wrapper__inner__item__wrapper__second__tittle__link") #{product.title}
                        button.carousel-control-prev.d-none(type='button')
                            span.carousel-control-prev-icon(aria-hidden='true')
                        button.carousel-control-next(type='button')
                            span.carousel-control-next-icon(aria-hidden='true')
                        
                    +bs_carousel('carousel_sm', 'container__prod__cosmetics__carousel carousel slide d-none d-sm-block d-md-none', respLengths.sm, 2)
                    +bs_carousel('carousel_md', 'container__prod__cosmetics__carousel carousel slide d-none d-md-block d-xl-none', respLengths.md, 3)
                    +bs_carousel('carousel_xl', 'container__prod__cosmetics__carousel carousel slide d-none d-xl-block', respLengths.xl, 4)
                    
            footer#footer
                section.rel__image
                    .rel__image__wrapper
                        .rel__image__wrapper__image
                section.footer__content
                    .footer__content__menu
                        .footer__content__menu__item.footer__content__menu__item__klient
                            input#footer-item-1.footer__content__menu__item__checkbox.footer__content__menu__item__klient__checkbox(type='checkbox')
                            label.footer__content__menu__item__klient__dropdown(for='footer-item-1')
                                span.footer__content__menu__item__klient__dropdown__wrapper
                                    h4.footer__content__menu__item__klient__dropdown__wrapper__tittle
                                        | За клиента
                                    span.footer__content__menu__item__klient__dropdown__wrapper__plus-icon.d-lg-none
                            ul.footer__content__menu__item__klient__list
                                li.footer__content__menu__item__list__klient__item
                                    a(href='#') Контакти
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') За нас
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') Връщане на продукт
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') Доставка и плащане
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') Често задавани въпроси
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') Политика за поверителност
                                li.footer__content__menu__item__list__klient___item
                                    a(href='#') Политика за използване на бисквитки
                        .footer__content__menu__item.footer__content__menu__item__kategorii
                            input#footer-item-2.footer__content__menu__item__checkbox.footer__content__menu__item__kategorii__checkbox(type='checkbox')
                            label.footer__content__menu__item__kategorii__dropdown(for='footer-item-2')
                                span.footer__content__menu__item__kategorii__dropdown__wrapper
                                    h4.footer__content__menu__item__kategorii__dropdown__wrapper__tittle
                                        | Категории
                                    span.footer__content__menu__item__kategorii__dropdown__wrapper__plus-icon.d-lg-none
                            ul.footer__content__menu__item__kategorii__list
                                li.footer__content__menu__item__list__kategorii__item
                                    a(href='#') Козметика
                                li.footer__content__menu__item__list__kategorii___item
                                    a(href='#') Добавки
                                li.footer__content__menu__item__list__kategorii___item
                                    a(href='#') Витамини
                                li.footer__content__menu__item__list__kategorii___item
                                    a(href='#') Спорт
                                li.footer__content__menu__item__list__kategorii___item
                                    a(href='#') Спортно облекло
                                li.footer__content__menu__item__list__kategorii___item
                                    a(href='#') За Дома
                        .footer__content__menu__item.footer__content__menu__item__sub
                            h4.footer__content__menu__item__title.footer__content__menu__item__sub__title
                                | Абонирай се за новини и промоции
                            .footer__content__menu__item__sub__newsletter
                                form.footer__content__menu__item__sub__newsletter__form(action='#')
                                    input.form__input(type='email' name='email' placeholder='Имейл')
                                    button.btn.btn--green(type='button') Абонирай се
                section.footer_rights
                    p.footer_rights_text
                        | Всички права запазени 2023@