mixin carousel_mobile(type, localProducts)
    div(class=`container__prod__${type}__mobile d-sm-none`)
        div(class=`container__prod__${type}__mobile__wrapper`)
            div(class=`container__prod__${type}__mobile__wrapper__inner`)
                each product, index in localProducts
                    div(class=`container__prod__${type}__mobile__wrapper__inner__item active`)
                        div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper`)
                            div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__image`)
                                div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__image__wrapper`)
                                    a(href="/produkt/12312")
                                        if index < 2
                                            img(src=product.imageFront srcset=product.imagesResp class="imgClass")
                                        else
                                            img(data-src=product.imageFront data-srcset=product.imagesResp class="imgClass")
                            div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second`)
                                div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second__wrapper`)
                                    div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second__wrapper__tittle`)
                                        h3
                                            a(href="/produkt/123122" class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second__wrapper__tittle__link`) #{product.title}
                                    div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second__wrapper__description`)
                                        p #{product.description}
                                div(class=`container__prod__${type}__mobile__wrapper__inner__item__wrapper__second__price`)
                                    span(class="price") #{product.price} лв
                                    span(class="bag")
                                        i(class="fa-solid fa-cart-plus fa-xl")
        button.carousel-control-prev.d-none(type='button')
            span.carousel-control-prev-icon(aria-hidden='true')
        button.carousel-control-next(type='button')
            span.carousel-control-next-icon(aria-hidden='true')