mixin header_menu_common()
    .header__search-top-bar
        .header__logo-card-icon
            span.logo
                a(href='/')
                    img(src='/images/logo.png' alt='logo')
            .form_wrapper-lg
                form(action='/search' method='GET')
                    .form__group.search_icon
                        input#search.search__input(type='text' name='search' placeholder='Какво търсиш днес?')
                        span.search_span
                            i.fa-solid.fa-magnifying-glass
            .icons
                span.profile
                    a(href='/account')
                        i.fa-regular.fa-user.fa-lg
                span.cart
                    a(href='/cart')
                        i.fa-solid.fa-cart-shopping.fa-lg
        .header__search-top-bar-form
            .navigation
                input#navi-toggle.navigation__checkbox(type='checkbox')
                label.navigation__button(for='navi-toggle')
                    span.line
                nav.navigation__nav
                    ul.navigation__list
                        li.navigation__item
                            input#navi-item-1.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-1')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle Козметика
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/kozmetika/lice/') Грижа за кожата
                                    li.navigation__list__nested__list__item
                                        a(href='/kozmetika/kosa/') Грижа за косата
                                    li.navigation__list__nested__list__item
                                        a(href='/kozmetika/lichna/') Лична грижа
                                    li.navigation__list__nested__list__item
                                        a(href='/kozmetika/grim/') Грим
                                    li.navigation__list__nested__list__item
                                        a(href='/kozmetika/muzhe/') Мъжка козметика
                        li.navigation__item
                            input#navi-item-2.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-2')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle Добавки
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/dobavki/') Минерали
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/protein/') Антиоксиданти
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/vitamini/') За Сън
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/dobavki/') Мозък и когнитивни
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/bilki/') Аминокиселини
                                    li.navigation__list__nested__list__item
                                        a(href='/zrave/kolagen') Колаген
                        li.navigation__item
                            input#navi-item-3.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-3')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle Витамини
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/dobavki/') Витамин Д
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/protein/') Витамин Ц
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/vitamini/') Мултивитамини
                                    li.navigation__list__nested__list__item
                                        a(href='/dobavki/dobavki/') Витамин Е
                        li.navigation__item
                            input#navi-item-4.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-4')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle Спорт
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/fitness/') Фитнес
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/tech/') Спортни Технологии
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/aksesoari/') Фитнес аксесоари
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/running/') Бягане
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/dumbells/') Гири и дъмбели
                                    li.navigation__list__nested__list__item
                                        a(href='/sport/yoga/') Йога
                        li.navigation__item
                            input#navi-item-5.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-5')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle Спортно Облекло
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/fashion/womenclothes/') Дамски дрехи
                                    li.navigation__list__nested__list__item
                                        a(href='/fashion/womenshoes/') Дамски обувки
                                    li.navigation__list__nested__list__item
                                        a(href='/fashion/accessoires/') Дамски аксесоари
                                    li.navigation__list__nested__list__item
                                        a(href='/fashion/men/') Мъжки дрехи
                        li.navigation__item
                            input#navi-item-6.navigation__checkbox__item(type='checkbox')
                            label.navigation__item__dropdown(for='navi-item-6')
                                span.navigation__item__dropdown__wrapper
                                    h4.navigation__item__dropdown__wrapper__tittle За Дома
                                    span.plus_icon
                            .navigation__list__nested
                                ul.navigation__list__nested__list
                                    li.navigation__list__nested__list__item
                                        a(href='/home/kuhnq/') Кухня
                                    li.navigation__list__nested__list__item
                                        a(href='/home/dekoracii/') Декорации за дома
                                    li.navigation__list__nested__list__item
                                        a(href='/home/aksesoari/') Аксесоари за дома
                                    li.navigation__list__nested__list__item
                                        a(href='/home/clean/') Почистване на дома
                                    li.navigation__list__nested__list__item
                                        a(href='/home/bathroom/') За Дома
            .form_wrapper
                form(action='/search' method='GET')
                    .form__group.search_icon
                        input#search.search__input(type='text' name='search' placeholder='Какво търсиш днес?')
                        span.search_span
                            i.fa-solid.fa-magnifying-glass
    // Navigation desktop
    .navigation__desktop
        nav.navigation__desktop__nav
            ul.navigation__desktop__list
                li.navigation__desktop__item(class=`${category && category=='kozmetika' ? 'active' : ''}`)
                    a.navigation__desktop__link(href='/kozmetika/') Козметика
                    ul.navigation__desktop__item__dropdown
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/lice/')
                                | Грижа
                                | за кожата
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/kosa/')
                                | Грижа
                                | за косата
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/lichna/') Лична грижа
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/grim/') Грим
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/kozmetika/muzhe/') Мъжка козметика
                li.navigation__desktop__item(class=`${category && category=='dobavki' ? 'active' : ''}`)
                    a.navigation__desktop__link(href='/dobavki/') Добавки
                    ul.navigation__desktop__item__dropdown
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/dobavki/') Минерали
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/protein/') Антиоксиданти
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/vitamini/')
                                | За
                                | Сън
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/dobavki/')
                                | Мозък
                                | и когнитивни
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/bilki/') Аминокиселини
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/dobavki/bilki/') Колаген
                li.navigation__desktop__item(class=`${category && category=='vitamini' ? 'active' : ''}`)
                    a.navigation__desktop__link(href='/vitamini/') Витамини
                    ul.navigation__desktop__item__dropdown.vitamini
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/fitness/') Витамин Д
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/tech/')
                                | Витамин
                                | Ц
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/aksesoari/') Мултивитамини
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/running/') Витамин Е
                li.navigation__desktop__item(class=`${category && category=='sport' ? 'active' : ''}`)
                    a.navigation__desktop__link(href='/sport/') Спорт
                    ul.navigation__desktop__item__dropdown.sport
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/fitness/') Фитнес
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/vitamini/tech/')
                                | Спортни
                                | Технологии
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/sport/aksesoari/') Фитнес аксесоари
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/sport/running/') Бягане
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/sport/dumbells/')
                                | Гири
                                | и дъмбели
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/sport/yoga/') Йога
                li.navigation__desktop__item
                    a.navigation__desktop__link(href='/obleklo/')
                        | Спортно
                        | Облекло
                    ul.navigation__desktop__item__dropdown.sport_wear
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/fashion/womenclothes/') Дамски дрехи
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/fashion/womenshoes/') Дамски обувки
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/fashion/accessoires/') Дамски аксесоари
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/fashion/men/')
                                | Мъжки
                                | дрехи
                li.navigation__desktop__item(class=`${category && category=='zadoma' ? 'active' : ''}`)
                    a.navigation__desktop__link(href='/zadoma/') За Дома
                    ul.navigation__desktop__item__dropdown
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/home/kuhnq/') Кухня
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/home/dekoracii/') Декорации за дома
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/home/aksesoari/') Аксесоари за дома
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/home/clean/') Почистване на дома
                        li.navigation__desktop__item__dropdown__item
                            a.navigation__desktop__item__dropdown__item__link(href='/home/bathroom/') За Дома

mixin header_home()
    header.header
        +header_menu_common()
        .header__desktop
            .bck_image
                .bck_image_1
                .bck_image_2
                .header__desktop__text-box.header__desktop__text-box-1
                    h1.heading-primary
                        span.heading-primary--main Органика.бг
                        span.heading-primary--sub Продукти за вашето здраве
                .header__desktop__text-box.header__desktop__text-box-2
                    h1.heading-primary
                        span.heading-primary--sub-2 Качествена козметика от природата
                .header__desktop__text-box.header__desktop__text-box-3
                    h1.heading-primary
                        span.heading-primary--sub-2 Витамини билкови и хранителни добавки
                .header__desktop__text-box.header__desktop__text-box-4
                    h1.heading-primary
                        span.heading-primary--sub-2 Спортни уреди и облекло
                .header__desktop__text-box.header__desktop__text-box-5
                    h1.heading-primary
                        span.heading-primary--sub-2 Продукти за комфорта на дома


mixin header_category()
    header.header
        +header_menu_common()
        .header__desktop
            .header__desktop__wrapper
                .header__desktop__wrapper__bck-image(class=category)
                    .header__desktop__wrapper__bck-image__text-box-2.d-none.d-md-block
                        h1.heading-primary
                            span.heading-primary--main.category #{categoryLoc}
            .header__desktop__text-box-2.d-md-none
                h1.heading-primary
                    span.heading-primary--main.category #{categoryLoc}
